*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
     margin: 20px 30px ;
   
    align-items: center;
}

.navmenu{
   display: flex;
   gap: 25px;
}

.get{
    color: white;
    font-weight: 600;
    padding: 10px 10px ;
    background-color: #30B868;
    border: none;
    border-radius:5px  ;

}

.group5{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 5px ;
   background-color: white;
   border-radius: 20px;
   width: 15%;
   margin: auto;
   padding: 4px;
}

.pcolor{
    color: #30B868;

}

.bgi{
    background-image: url(images/cropped-hands-woman-writing-book\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    display: block;
  
}

.hp{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
    font-size: 35px ;

}

.padding{
    padding-top: 110px;
}  

.sm{
    font-size:20px ;
    padding: px;
    padding-top: 10px;
    color: white;
}

.nokol{
    background: transparent;
    font-weight: 600;
    padding: 8px ;
    border: 2px solid white;
   color: white;
    border-radius:5px  ;
}

.white{
    color: white;
}

.notes{
    padding: 20px;
    text-align: center;

}



.parent{
    width: 100%;
    display: flex;
    margin: 30px 0 ;
    justify-content: space-evenly;
   
}

.lal{
    background-color:#F95555;
    border-radius: 360px;
    padding: 12px;
    width: 60px;
    margin:auto;
}

.four{
    width: 20% ;
    text-align: center;
    justify-content: center;
    height: 250px;
    box-shadow:  0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding-top: 50px;

}

.margin{
    margin: 10px;
}

.flex{
    display: flex;
    margin: 5px;
}

.center{
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}

.choto{
    opacity: 50%;
    font-size: 15px;
}

.boro{
    font-size: 45px;
  
}

.ready{
    background-color: #F7F6F2;
    text-align: center;
    align-items: center;
    width: 1400px;
    margin: auto;
    padding: 40px;
}
.black{
    color:black;
}

.foot{
    display: flex;
    color: white;
    background-color: #001931;
    justify-content: space-between;
    padding: 20px 60px;
}

.icon{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.sesh{
    color: white;
    background-color:  #001931;
    text-align: center;
}